{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buchungen</title>
    <link rel="stylesheet" href="{% static 'bookings_style.css' %}">
</head>
<body>

{% block content %}
{% include 'base.html' %}

<div class="header">
  <p>Gebuchte Räume</p>
</div>

<div class="table">
    <table>
      <thead>
        <tr>
          <td class="checkbox-cell"><input type="checkbox"></td>
          <th>Datum</th>
          <th>Raum Nummer</th>
          <th>Raum Ausstattung</th>
        </tr>
      </thead>
      <tbody>
        {% for booking in bookings %}
        <tr>
          <td class="checkbox-cell"><input type="checkbox"></td>    
          <td>{{ booking.datum }}</td>
          <td>{{ booking.raumNR }}</td>
          {% with raum=booking.raumNR %}
          <td>{{ raum.ausstattung }}</td>
        {% endwith %}
          </tr>            
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
</body>
</html>